@* <div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ConcesionariaFinal.UI</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/listadotitulares">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Listado de titulares
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="titular">
                <span class="oi oi-plus" aria-hidden="true"></span> Agregar titular
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/listadovehiculos">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Listado de vehiculos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="vehiculo">
                <span class="oi oi-plus" aria-hidden="true"></span> Agregar vehiculo
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/listadopolizas">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Listado de polizas
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="poliza">
                <span class="oi oi-plus" aria-hidden="true"></span> Agregar poliza
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/listadosiniestros">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Listado de siniestros
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="siniestro">
                <span class="oi oi-plus" aria-hidden="true"></span> Agregar siniestro
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/listadoterceros">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Listado de terceros
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tercero">
                <span class="oi oi-plus" aria-hidden="true"></span> Agregar tercero
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
} *@
