@page "/"
<body>
        <div class="BarraDeNavegacion">
            <ul class="menu">
                <li>
                    <a href="#">Titulares <span class="flecha"></span></a>
                    <ul class="desplegable">
                      <li><a href="titular">Crear Titular</a></li>
                      <li><a href="/listadotitulares">Listar Titulares</a></li>
                      <li><a href="/listadovehiculosdetitular">Listar Titulares con Vehiculos</a></li>
                    </ul>
                </li>
                <li>
                  <a href="#">Vehiculos <span class="flecha"></span></a>
                  <ul class="desplegable">
                    <li><a href="vehiculo">Crear Vehiculo</a></li>
                    <li><a href="/listadovehiculos">Listar Vehiculos</a></li>
                  </ul>
                </li>
                <li>
                  <a href="#">Pólizas <span class="flecha"></span></a>
                  <ul class="desplegable">
                    <li><a href="poliza">Crear Poliza</a></li>
                    <li><a href="/listadopolizas">Listar Pólizas</a></li>
                  </ul>
                </li>
                <li>
                    <a href="#">Terceros <span class="flecha"></span></a>
                    <ul class="desplegable">
                      <li><a href="tercero">Crear Tercero</a></li>
                      <li><a href="/listadoterceros">Listar Terceros</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Siniestros <span class="flecha"></span></a>
                    <ul class="desplegable">
                      <li><a href="siniestro">Crear Siniestro</a></li>
                      <li><a href="/listadosiniestros">Listar Siniestros</a></li>
                    </ul>
                </li>
              </ul>
        </div>
</body>